* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    background-color: #8cc84c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-container {
    background-color: #fff;
    width: 500px;
    padding: 20px;
    border-radius: 6px;
}

.heading {
    font-size: 18px;
    padding: 8px 0;
}

.search-main {
    border: 1px solid #000;
    height: 100px;
    padding: 12px;
}

.search-history-tags {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    min-width: 100px;
}

.tags {
    background-color: #8cc84c;
    min-width: 60px;
    padding: 6px;
    font-size: 12px;
    color: #fff;
    border-radius: 4px;
}

.tags i {
    color: #fff;
    margin-left: 6px;
}
