* {
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

a {
    text-decoration: none;
}

.container {
    display: flex;
    width: 100%;
    padding: 12px 48px;
}

.card-list {
    padding-left: 0;
    display: flex;
}

.card-item {
    width: 300px;
    height: 400px;
    background-color: #242628;
    margin: 0 auto;
    border-radius: 24px;
    overflow: hidden;
}

.card-item-img {
    width: 120px;
    height: 120px;
    overflow: hidden;
    transition: 0.25s;
    margin: 0 auto;
    transform: translateY(25px);
    border-radius: 50%;
    border: 1px solid #f2726a;
}

img {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
}

.card-item-img:hover {
    width: 100%;
    height: 100%;
    border-radius: unset;
    border: unset;
    transform: unset;
}
.card-item-name {
    color: #fff;
    margin-top: 48px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.card-item-duty {
    color: #f2726a;
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
    font-size: 16px;
}

.social-media-list {
    display: flex;
    justify-content: center;
}

.social-media-item i {
    font-size: 22px;
    color: #fff;
    margin: 20px;
}

.contact {
    display: flex;
    justify-content: center;
}
.card-item-contact {
    color: #fff;
    border: 1px solid #f2726a;
    padding: 12px 18px;
    border-radius: 12px;
}
