* {
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    padding: 12px 48px;
}

.card-list {
    padding-left: 0;
    display: flex;
}

.card-item {
    width: 300px;
    height: 400px;
    background-color: #242628;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-item-img {
    width: 72px;
    height: 72px;
    border-radius: 50%;
}
