* {
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
}
