* {
    font-family: "Poppins", sans-serif;
}

body {
    background: linear-gradient(45deg, #00853e, #50c878);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 100%;
    padding: 12px 48px;
}

.card-list {
    padding-left: 0;
    display: flex;
}

.card-item {
    width: 300px;
    height: 400px;
    background-color: #242628;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-item-img {
    width: 112px;
    height: 112px;
    border-radius: 50%;
    border: 2px solid red;
    margin-top: 32px;
}

.card-item-name {
    color: #fff;
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: bold;
}

.card-item-duty {
    color: #f2726a;
    font-weight: bold;
    margin-top: 8px;
    font-size: 16px;
}

.social-media-list {
    display: flex;
}

.facebook-icon {
    font-size: 22px;
    color: #fff;
}
