body {
    background-image: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100%);
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 32px 48px;
    background-color: #fff;
    border-radius: 12px;
    font-size: 24px;
    cursor: pointer;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
}

@keyframes identifier {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes container {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}
.modal.active {
    display: block;
    animation: identifier 0.4s ease-in;
}

.container {
    border-radius: 6px;
    background-color: #fff;
    width: 450px;
    min-height: 258px;
    z-index: 1;
    margin: 260px auto;
    overflow: hidden;
}

.header-modal {
    background-color: #e26e70;
    padding: 24px 12px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 20px;
}

.icon-close {
    margin-right: 12px;
    cursor: pointer;
}

.body-modal {
    padding: 24px 12px;
}

.heading {
    color: #e26e70;
    font-weight: bold;
    font-size: 24px;
}

.body-modal p {
    font-size: 18px;
    font-weight: 500;
}

.btn-close {
    margin-right: 24px;
    margin-bottom: 24px;
    padding: 12px;
    background-color: #e26e70;
    color: #fff;
    width: 100px;
    text-align: center;
    margin-left: auto;
    border-radius: 6px;
    cursor: pointer;
}
