body {
    background-image: linear-gradient(45deg, rgb(65, 88, 208) 0%, rgb(200, 80, 192) 50%, rgb(255, 204, 112) 100%);
    height: 100vh;
    overflow: hidden;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    padding: 32px 48px;
    background-color: #fff;
    border-radius: 12px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.modal {
    background-color: #fff;
    width: 450px;
    border-radius: 6px;
    overflow: hidden;
}

.header-modal {
    background-color: #e26e70;
    padding: 24px 12px;
}
