body {
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 320px;
    height: 400px;
    background-color: #272d40;
    position: relative;
    padding: 40px 20px;
    border-radius: 16px;
}

.card:hover .hover {
    display: block;
}

.card:hover .product-img {
}

.heart-icon {
    color: #fff;
    position: absolute;
    top: 24px;
    left: 24px;
    font-size: 20px;
}

.cart-icon {
    color: #fff;
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 20px;
}

.product {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 90%;
    height: 60%;
}

.product-img {
    width: 90%;
    height: 90%;
    object-fit: cover;
    object-position: cover;
}

.product-name {
    display: block;
    color: #4daf54;
    font-size: 24px;
    font-weight: bold;
}

.product-price {
    color: #fff;
    font-size: 24px;
    display: block;
    text-align: center;
    margin-top: 14px;
    font-weight: bold;
}

.hover {
    padding-top: 42px;
    display: none;
}

.product-size,
.product-color {
    width: 100%;
    display: flex;
    margin-bottom: 16px;
}

.size,
.color {
    color: #fff;
    font-size: 24px;
    margin-right: 12px;
}
.btn-size-item {
    padding: 6px 10px;
    background-color: #dadada;
    border-radius: 6px;
    font-size: 16px;
    border: none;
    margin-right: 6px;
}

.btn-color-item {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: none;
    margin-right: 12px;
}

.color-red {
    background-color: red;
}
.color-blue {
    background-color: blue;
}
.color-green {
    background-color: green;
}

.btn-buy,
.btn-addcart {
    padding: 10px 20px;
    background-color: #4daf54;
    color: #fff;
    border: none;
    margin-left: 6px;
    border-radius: 6px;
    font-size: 16px;
}
