body {
    height: 100vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    margin: 0;
}

.container {
    width: 1200px;
    display: flex;
    margin: auto;
}

.img-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-item {
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.img-item img:hover {
    transform: scale(1.2);
    transition: 0.4s linear;
}

.img-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: 0.4s linear;
}

.slider {
    width: 100%;
}

.slider-container {
    width: 1200px;
    height: 800px;
    overflow: hidden;
}
.slider-main {
    display: flex;
}
.slide-img {
    width: 1200px;
    height: 800px;
    object-fit: cover;
}
