body {
    height: 100vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
}

.container {
    width: 1200px;
    display: flex;
    margin: auto;
}

.img-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-item {
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.img-item img:hover {
    transform: scale(1.2);
    transition: 0.4s linear;
}

.img-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: 0.4s linear;
}

.slider {
    max-width: 100%;
    margin: auto;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-main {
    width: 60%;
    height: 1200px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
}

.slider-img {
    width: 100%;
    height: 100%;
    flex: 1 0 auto;
}

.slider-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.icon-next {
    position: absolute;
    font-size: 48px;
    color: #fff;
    z-index: 1;
    right: 600px;
}
