body {
    height: 100vh;
    background-color: #ccc;
}

.container {
    width: 100%;
    height: 100%;
}

.img-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.img-item {
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}
