body {
    height: 100vh;
    background-color: #ccc;
    display: flex;
    align-items: center;
    margin: 0;
}

.container {
    width: 1200px;
    display: flex;
    margin: auto;
}

.img-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-item {
    width: 22%;
    height: 200px;
    overflow: hidden;
    margin: 10px;
    cursor: pointer;
    border-radius: 4px;
}

.img-item img:hover {
    transform: scale(1.2);
    transition: 0.2s linear;
}

.img-item img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    height: 100%;
    transition: 0.2s linear;
}

.slider {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
}

.slider.active {
    display: flex;
}

.slider-container {
    width: 1200px;
    height: 800px;
    overflow: hidden;
}
.slider-main {
    display: flex;
}
.slide-img {
    width: 1200px;
    height: 800px;
    object-fit: cover;
    transition: 2s ease-in-out;
}

.icon-prev {
    position: absolute;
    left: 200px;
    font-size: 38px;
    color: #fff;
    top: 50%;
}

.icon-next {
    position: absolute;
    right: 200px;
    font-size: 38px;
    color: #fff;
    top: 50%;
}

.icon-close {
    position: absolute;
    right: 32px;
    top: 32px;
    font-size: 38px;
    color: #fff;
}
