@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");

:root {
    --facebook-color: #3b5999;
    --instagram-color: #e1306c;
    --youtube-color: #de463b;
    --twitter-color: #46c1f6;
    --github-color: #333;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    background-color: #d8d8d8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}
.icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    position: relative;
}

.icon span {
    display: none;
}

.icon.facebook span {
    display: block;
}

.icon.facebook span {
    content: "";
    position: absolute;
    top: 30;
}
