body {
    margin: 0;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search {
    width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    height: 40px;
    width: 100%;
}
