body {
    margin: 0;
    background-image: linear-gradient(to right, #4daf54, #3d8880);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search {
    width: 700px;
}

.search-input {
}
