* {
    margin: 0 auto;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #17a2b8;
}

.conatainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-press {
}
